DB_PASSWORD=S3CR37P45W0RD
DB_NAME=anylist
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

STAGE=dev
PORT=3000
NODE_ENV=dev

JWT_SECRET=0e2cc98414320e0287e989d0046cf5eb

HOST_API=http://localhost:3000/api/v1


